[data-alert] {
    box-sizing: border-box;
    min-height: 46px;
    line-height: 46px;
    padding-left: 10px;
    width: calc(100% - 500px);
    position: absolute;
    left: 250px;  /* Keep save/cancel button accessible. */
    right: 250px;
    box-shadow: 0 1px 7px #999999;
    background: none repeat scroll 0 0 rgba(20, 22, 23, 0.8);
    font-weight: bold;
    color: #fff;
    font-size: 0.8em;
    z-index: 1012;
    border-radius: 2px;
    visibility: visible;
    top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
[data-alert][data-level="error"] {
    background-color: #c60f13;
}
[data-alert] [data-close] {
    color: #fff;
    padding-right: 10px;
    width: 100px;
    line-height: 1;
    margin: .5rem;
    background-color: #202425;
    font-size: .7rem;
}
