{% load chickpea_tags %}
<h3>Choose your tilelayers</h3>
<form action="{% url map_update_tilelayers map.pk %}" method="post" id="map_edit">
    {% csrf_token %}
    <ul class="block-grid four-up mobile">
    {% for tilelayer in tilelayers %}
        <li>
            <label for="tilelayer_{{ forloop.counter }}">
              {% tilelayer_preview tilelayer %}<div class="panel">
                <input type="checkbox" id="tilelayer_{{ forloop.counter }}" name="tilelayer_{{ forloop.counter }}" value="{{ tilelayer.pk }}" {% if tilelayer in map.tilelayers.all %}checked{% endif %} />
                {{ tilelayer.name }}
              </div>
            </label>
        </li>
    {% endfor %}
    <div class="row twelve columns">
        <input type="submit" class="button" />
    </div>
</form>

<script type="text/javascript">
    L.Util.Xhr.listen_form('map_edit');
</script>