{% extends "base.html" %}
{% load chickpea_tags compress %}
{% block title %}{{ map.name }}{% endblock %}

{% block extra_head %}
    {% compress css %}
        {% chickpea_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}storage/contrib/css/storage.ui.default.css">
    {% endcompress %}
    {% compress js %}
        {% chickpea_js %}
    {% endcompress %}
{% endblock %}

{% block content %}
    {% block map_init %}
        {% include "chickpea/map_init.html" %}
    {% endblock %}
{% endblock %}