<h3>Create your map now!</h3>
<form action="{{ action_url }}" method="post" id="map_edit">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{ form.name }}
    {% for error in form.name.errors %}
        <small class="error">{{ error|escape }}</small>
    {% endfor %}
    {{ form.description }}
    {{ form.description.errors }}
    <label>{{ form.licence.help_text }}</label>
    {{ form.licence }}
    {% for error in form.licence.errors %}
        <small class="error">{{ error|escape }}</small>
    {% endfor %}
    {{ form.zoom }}
    {{ form.center }}
    <input type="submit" class="button" />
</form>

<script type="text/javascript">
    L.Storage.Xhr.listen_form('map_edit');
</script>