/*
    Foundation use a position:relative; on body, which break the 100% rule
    on #map
*/
body.map_detail {
    width: 100%;
    height: 100%;
    position: inherit;
}

/* HOME */
.map_fragment {
    width: 100%;
}
.map_list .map_fragment {
    height: 200px;
}

/* Modals */
.reveal-modal.update-tilelayers {
    width: 75%;
    max-height: 500px; /* TODO Make it dynamic */
    overflow: auto;
    margin-left: -35%;
}

/* Global alert */
.alert-box.global {
    z-index: 1001;
    margin-right: auto;
    margin-left: auto;
}

/* Search form */
input::-webkit-input-placeholder, ::-webkit-input-placeholder {
   color: #a5a5a5;
}

input:-moz-placeholder, :-moz-placeholder {
   color: #a5a5a5;
}

/* Forms */

.help-text small, small.help-text {
    display: block;
    padding: 6px 4px;
    margin-top: -13px;
    margin-bottom: 12px;
    background: #a5a5a5;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.formbox {
    border: 1px #a5a5a5 solid;
    min-height: 32px;
    line-height: 32px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#storage-ui-container textarea {
    height: 100px;
}
#storage-ui-container select {
    margin-bottom: 10px;
}