{% load youmap_tags %}
{% if not map %}
    <h3>Create your map now!</h3>
{% endif %}
<form action="{{ action_url }}" method="post" id="map_edit">
    {% for error in form.non_field_errors %}
        <small class="error">{{ error }}</small>
    {% endfor %}
    {% csrf_token %}
    {% foundation_field form.name %}
    {% foundation_field form.description %}
    {% foundation_field form.licence %}
    {{ form.zoom }}
    {{ form.center }}
    <input type="submit" class="button" />
    {% if delete_url and map and user == map.owner %}
        <a href="{{ delete_url }}" id="delete_map_button" >Delete</a>
    {% endif %}
</form>