{% extends "umap/content.html" %}

{% load i18n %}

{% block maincontent %}
  {% include "umap/dashboard_menu.html" with selected="groups" %}
  <div class="wrapper">
    <div class="row">
      {% if form.non_field_errors %}
        <ul class="form-errors">
          {% for error in form.non_field_errors %}
            <li>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <form id="group_form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% trans "Save" %}" />
      </form>
      {% if group.user_set.count == 1 %}
        <a href="{% url 'group_delete' group.pk %}">{% trans "Delete this team" %}</a>
      {% endif %}
    </div>
  </div>
  <script type="module" defer>
    const form = document.querySelector("#group_form")
    const select = form.querySelector('#id_members')
    function onSelect({item: {value, label}}) {
      const option = document.createElement('option')
      option.value = value
      option.textContent = label
      option.selected = "selected"
      select.appendChild(option)
    }
    function onUnselect({item: {value, label}}) {
      const option = select.querySelector(`[value="${value}"]`)
      select.removeChild(option)
    }
    const options = {
      className: 'edit-group-members',
      on_select: onSelect,
      on_unselect: onUnselect,
      placeholder: "{% trans "Add user" %}"
    }
    const autocomplete = new U.AjaxAutocompleteMultiple(form, options)
    for (const option of select.options) {
      autocomplete.displaySelected({
        item: { value: option.value, label: option.textContent },
      })
    }
    const submit = form.querySelector('input[type="submit"]')
    // Move it after the autocomplete widget.
    form.appendChild(submit)
  </script>
{% endblock maincontent %}
