.umap-popup {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background-color: var(--background-color);
    padding: var(--medium-box-padding);
    width: 300px;
}
.umap-popup:after, .umap-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.umap-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
.umap-popup:before {
    border-top-color: var(--color-veryLightGray);
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

.umap-popup-footer {
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    display: flex;
    width: 100%;
    border-radius: var(--border-radius);
    justify-content: space-around;
    margin-top: var(--text-margin);
}

.umap-popup a:hover {
    text-decoration: underline;
}

.popup-title {
    display: flex;
    align-items: center;
}

.popup-title .icon {
    margin: 5px;
}

a[href^='mailto']::before {
    content: '✉︎ ';
}

a[href^='tel']::before {
    content: '☎︎ ';
}

address span {
    padding-inline-end: 5px;
    display: block;
}

.osm-link {
    margin-top: 10px;
    text-align: end;
    font-style: italic;
}

.umap-popup aside {
    max-height: 500px;
    flex-grow: 1;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.umap-popup aside iframe {
    min-width: 300px;
    max-width: 100%;
}

.umap-popup aside tr:nth-child(odd) {
    background-color: #f6f6f6;
}

.umap-popup aside th {
    text-align: start;
}

.umap-popup aside td {
    word-break: break-word;
}

.umap-popup aside th,
.umap-popup aside td {
    padding: 1px 3px;
}

.umap-popup-large iframe {
    /* See https://github.com/Leaflet/Leaflet/commit/61d746818b99d362108545c151a27f09d60960ee#commitcomment-6061847 */
    max-width: 100% !important;
    min-width: 500px;
}

.umap-popup-large .umap-popup {
    width: 500px;
}

.umap-popup aside img {
    max-width: 100%;
}

.umap-popup.window .buttons {
    padding: 0;
}

@media all and (max-width: 480px) {
    .umap-popup-large iframe {
        min-width: 300px;
    }

    .umap-popup-large .umap-popup aside {
        width: 300px;
    }
}
