[role="dialog"] {
    box-sizing: border-box;
    min-height: 46px;
    line-height: 46px;
    padding: var(--panel-gutter);
    position: absolute;
    box-shadow: 0 1px 7px #999999;
    background: none repeat scroll 0 0 var(--color-darkGray);
    font-weight: bold;
    color: #fff;
    font-size: 0.8em;
    z-index: 1012;
    border-radius: 2px;
    margin-top: calc(var(--header-height) + var(--panel-gutter));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 80%;
}
[role="dialog"][data-level='error'] {
    background-color: #c60f13;
}
[role="dialog"] > div {
    margin: 0 auto;
}
#link-wrapper form {
    display: flex;
}
#link-wrapper form input[type='button'] {
    max-width: 100px;
}
#choice-wrapper form {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:770px) {
    #choice-wrapper form {
        flex-direction: column;
    }
}
#choice-wrapper form > * {
    max-width: 300px;
}
umap-alert-choice a {
    color: white;
    text-decoration: underline;
}
