<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/leaflet/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/markercluster/MarkerCluster.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/markercluster/MarkerCluster.Default.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/editinosm/Leaflet.EditInOSM.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/minimap/Control.MiniMap.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/contextmenu/leaflet.contextmenu.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/toolbar/leaflet.toolbar.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/measurable/Leaflet.Measurable.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/reqs/fullscreen/leaflet.fullscreen.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}storage/src/css/storage.css" />
