{% load umap_tags static %}

{% include "umap/messages.html" %}
{# tabindex allows to programmatically focus on the map element (eg. to listen for key events while drawing) #}
<div id="map" tabindex="0">
</div>
<!-- djlint:off -->
<script id="map-settings" data-settings="{{ map_settings|escape }}"></script>
<script defer type="module">
    {% autoescape off %}
    import App from '{% static "umap/js/modules/app.js" %}'
    {% endautoescape %}
    U.SETTINGS = JSON.parse(document.getElementById('map-settings').dataset.settings)
    U.MAP = new App("map", U.SETTINGS)
</script>
<!-- djlint:on -->
