{% load i18n %}
<nav>
  <section class="col quarter branding twide">
    <ul>
      <li class="name"><h1><a href="/">umap</a></h1></li>
    </ul>
  </section>

  <section class="col half menu ttwo-third mwide">
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'user_maps' user.username %}">{% trans "My maps" %} ({{ user }})</a></li>
      {% else %}
        <li><a href="{% url 'login' %}" class="login">{% trans "Log in" %} / {% trans "Sign in" %}</a></li>
      {% endif %}
      <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
      <li class="mhide"><a href="{{ UMAP_FEEDBACK_LINK }}">{% trans "Feedback" %}</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}" class="logout">{% trans "Log out" %}</a></li>
      {% endif %}
    </ul>
  </section>

  <section class="right thide">
    <ul>
      <li class="has-button wide">
        <a href="{% url 'map_new' %}" class="button">
          {% trans "Create a map" %}
        </a>
      </li>
    </ul>
  </section>
</nav>
