{% extends "umap/content.html" %}

{% load i18n %}

{% block maincontent %}
{% include "umap/search_bar.html" %}
{% if q %}
  <div class="wrapper">
    <div class="map_list row">
      {% if maps %}
        <h2>
          {% blocktranslate count counter=count %}
            {{ count }} map found:
          {% plural %}
            {{ count }} maps found:
          {% endblocktranslate %}
        </h2>
        {% include "umap/map_list.html" with prefix='search_map' %}
      {% else %}
        <h2>{% trans "No map found." %}</h2>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock maincontent %}
