{% load i18n %}
<div class="wrapper search_wrapper">
    <div class="row">
      <form action="{% url 'search' %}" method="GET">
      <div class="col two-third mwide">
        {% if q %}
          <input name="q" type="search" placeholder="{% trans 'Search maps' %}" value="{{ q }}" />
        {% else %}
          <input name="q" type="search" placeholder="{% trans 'Search maps' %}" />
        {% endif %}
      </div>
      <div class="col third mwide">
        <input type="submit" value="{% trans 'Search' %}" class="neutral" />
      </div>
      </form>
    </div>
</div>
