{% load umap_tags i18n %}
<fieldset class="toggle">
    <legend class="style_options_toggle">{% trans "Styles options" %}</legend>
    {% foundation_field form.color %}
    {% if form.icon_class and form.pictogram %}
    <div class="formbox">
        {{ form.icon_class }}
        {{ form.pictogram }}
        <div id="storage-form-iconfield"></div>
    </div>
    <small class="help-text">{% trans "Change marker shape and symbol." %}</small>
    {% endif %}
    {% foundation_field form.weight %}
    {% if form.stroke %}
    <div class="formbox">
        <span>{{ form.stroke.label }}</span>{{ form.stroke }}
    </div>
    <small class="help-text">{{ form.stroke.help_text }}</small>
    {% endif %}
    {% foundation_field form.smoothFactor %}
    {% foundation_field form.opacity %}
    {% if form.fill %}
    <div class="formbox">
        <span>{{ form.fill.label }}</span>{{ form.fill }}
    </div>
    <small class="help-text">{{ form.fill.help_text }}</small>
    {% endif %}
    {% foundation_field form.fillOpacity %}
    {% foundation_field form.fillColor %}
    {% foundation_field form.dashArray %}
</fieldset>