{% extends "umap/content.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Team deletion" %} - {{ SITE_DESCRIPTION }}
{% endblock head_title %}

{% block maincontent %}
  {% include "umap/dashboard_menu.html" with selected="teams" %}
  <div class="wrapper">
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete "{{ object }}"?
        </p>
        {{ form }}
        <input type="submit" value="Confirm">
      </form>
    </div>
  </div>
{% endblock maincontent %}
