{% extends "base.html" %}

{% load chickpea_tags compress %}

{% block extra_head %}
    {% compress css %}
      {% chickpea_css %}
    {% endcompress css %}
    {% compress js %}
      {% chickpea_js %}
    {% endcompress js %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">

    <!-- Navigation -->

    {% include 'youmap/navigation.html' %}
    <!-- End Navigation -->

    </div>
  </div>


  <div class="row">
    <div class="twelve columns">
      <div class="row">

    <!-- Content -->

        <div class="eight columns">
          <div class="panel radius">

          <div class="row">
          <div class="six mobile-two columns">
            <h4>u{Map} <em>alpha</em></h4><hr/>
            <h5 class="subheader">u{Map} let you create maps with OpenStreetMap layers in a minute and embed them in your site.<br /> This is a demo instance, you can host your own, it's <strong>open source</strong>!
            </h5>
          </div>
          <div class="six mobile-two columns">
            <h5>What you can do?</h5>
            <ol>
              <li>Choose the layers of your map</li>
              <li>Add POIs: markers, lines, polygons...</li>
              <li>Manage POIs colours and icons</li>
              <li>Batch import geostructured data (GEOJson...)</li>
              <li>Choose your licence</li>
              <li>Embed and share your map</li>
            </ol>
        </div>

        </div>
        </div>
        </div>

        <div class="four columns hide-for-small">

          <a href="{% url map_add %}" data-listen-form="map_edit" class="reveal">
          <div class="panel radius callout" align="center">
            <strong>Test it and create a map</strong>
          </div>
          </a>

          <a href="https://bitbucket.org/yohanboniface/youmap_project">
          <div class="panel radius callout" align="center">
            <strong>Fork it</strong>
          </div>
          </a>
          <div class="panel">
            <p>
              Users to play with (password: <span class="label">123123</span>): {% for u in users %}<a href="{% url user_maps u.username %}">{{ u }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
          </div>

        </div>

    <!-- End Content -->

      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <hr />
      <h2>Browse maps</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="row map_list">
        {% include "chickpea/map_list.html" %}
      </div>
    </div>
  </div>


    <!-- Footer -->

  <footer class="row">
    <div class="twelve columns"><hr />
      <div class="row">

        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>

        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#TODO">About</a></li>
            <li><a href="https://bitbucket.org/yohanboniface/youmap_project">Fork me</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

    <!-- End Footer -->
  <!-- Included JS Files -->
{% endblock content %}

{% block bottom_js %}
  <script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.foundation.js"></script>
  <script type="text/javascript">
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock bottom_js %}