{% load umap_tags i18n %}
<form action="{{ action_url }}" method="post" id="datalayer_edit">
    {% csrf_token %}
    {% for error in form.errors %}
        <small class="error">{{ error }}</small>
    {% endfor %}
    {% foundation_field form.name %}
    {% foundation_field form.description %}
    {% foundation_field form.rank %}
    <div class="formbox">
        <span>{{ form.display_on_load.label }}</span>{{ form.display_on_load }}
    </div>
    <small class="help-text">{{ form.display_on_load.help_text }}</small>
    {{ form.map }}
    {% include "umap/styles_fieldset.html" %}
    <input type="submit" class="button" />
    {% if delete_url %}
        <a href="{{ delete_url }}" id="delete_datalayer_button" >{% trans "Delete" %}</a>
    {% endif %}
</form>