{% load umap_tags i18n %}
<form method="post" action="{{ action }}" id="feature_form" onsubmit="return false;">
    {% csrf_token %}
    {{ form.no_field_errors }}
    {% foundation_field form.name %}
    {% foundation_field form.description %}
    {% foundation_field form.datalayer %}
    {% include "umap/styles_fieldset.html" %}
    {{ form.latlng }}
    <input type="submit" class="button" />
    {% if delete_url %}
        <a href="{{ delete_url }}" id="delete_feature_button" >{% trans "Delete" %}</a>
    {% endif %}
</form>
