{% load leaflet_storage_tags i18n %}
<h3>{% trans "Choose your tilelayer" %}</h3>
<form action="{% url 'map_update_tilelayers' map.pk %}" method="post" id="map_edit">
    {% csrf_token %}
    {% for tilelayer in tilelayers %}
        <div class="col _6 pile">
            <label for="tilelayer_{{ forloop.counter }}">
              {% tilelayer_preview tilelayer %}<div class="textbox">
                <input type="radio" id="tilelayer_{{ forloop.counter }}" name="tilelayer" value="{{ tilelayer.pk }}" {% if tilelayer in map.tilelayers.all %}checked{% endif %} />
                {{ tilelayer.name }}
              </div>
            </label>
        </div>
    {% endfor %}
    <hr />
    <input type="submit" class="button" />
</form>