{% extends "base.html" %}
{% load leaflet_storage_tags compress %}
{% block head_title %}{{ map.name }} - uMap{% endblock %}
{% block body_class %}map_detail{% endblock %}

{% block extra_head %}
    {% compress css %}
        {% leaflet_storage_css %}
    {% endcompress %}
    {% compress js %}
        {% leaflet_storage_js %}
    {% endcompress %}
    {% if locale %}
        <script src="{{ STATIC_URL }}storage/src/locale/{{ locale }}.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% block map_init %}
        {% include "leaflet_storage/map_init.html" %}
    {% endblock %}
    {% include "leaflet_storage/map_messages.html" %}
{% endblock %}