{% load umap_tags i18n %}
{% if not map %}
    <h3>{% trans "Create your map now!" %}</h3>
{% endif %}
<form action="{{ action_url }}" method="post" id="map_edit">
    {% for error in form.non_field_errors %}
        <small class="error">{{ error }}</small>
    {% endfor %}
    {% csrf_token %}
    {% foundation_field form.name %}
    {% foundation_field form.description %}
    {% foundation_field form.licence %}
    {{ form.zoom }}
    {{ form.center }}
    <input type="submit" class="button" />
    {% if not map and not user.is_authenticated %}
    <small class="helptext">{% trans 'You are creating a map without being authenticated. A cookie will be set on this browser to make possible for you to edit the map in the future. If you want to edit the map from another computer, use the "edit url" displayed in the "permissions" window. If you log in and load the map, it will be attached to your account.' %}</small>
    {% endif %}
    {% if delete_url and map and user == map.owner %}
        <a href="{{ delete_url }}" id="delete_map_button" >{% trans "Delete" %}</a>
    {% endif %}
</form>