{% extends "base.html" %}
{% load leaflet_storage_tags compress %}
{% block head_title %}{{ map.name }} - uMap{% endblock %}
{% block body_class %}map_detail{% endblock %}

{% block extra_head %}
    {% compress css %}
        {% leaflet_storage_css %}
    {% endcompress %}
    {% leaflet_storage_js locale=locale %}
{% endblock %}

{% block content %}
    {% block map_init %}
        {% include "leaflet_storage/map_init.html" %}
    {% endblock %}
    {% include "leaflet_storage/map_messages.html" %}
{% endblock %}