{% load i18n umap_tags %}
<h3>{% trans "Upload features" %}</h3>
<form action="{{ action_url }}" method="post" enctype="multipart/form-data" id="upload_data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for field in form %}
        {% foundation_field field %}
    {% endfor %}
    <input type="submit" class="button" />
</form>
<fieldset class="toggle">
    <legend>{% trans "Details on formats" %}</legend>
    <div>
        <h5>{% trans "GeoJSON" %}</h5>
        <div>
            {% trans "Properties used" %}: name / title, description, color
        </div>
    </div>
    <hr />
    <div>
        <h5>{% trans "KML" %}</h5>
        <div>
            {% trans "Properties used" %}: name, description
        </div>
    </div>
    <hr />
    <div>
        <h5>{% trans "GPX" %}</h5>
        <div>
            {% trans "Properties used" %}: name, desc
        </div>
    </div>
    <hr />
    <div>
        <h5>{% trans "CSV" %}</h5>
        <div>
            {% trans "Comma, tab or semi-colon separated values. SRS WGS84 is implied. Only Point geometries are imported. The import will look at the column headers for any mention of «lat», «latitude», «lng», «lon», «longitude» (at the end or the begining of the header, case insensitive). Also, column «title» or «name», «description» and «color» will be taken into account." %}
        </div>
    </div>
</fieldset>
