{% load i18n umap_tags %}
<h3>{% trans "Upload features" %}</h3>
<form action="{{ action_url }}" method="post" enctype="multipart/form-data" id="upload_data">
    {% csrf_token %}
    {% for field in form %}
        {% foundation_field field %}
    {% endfor %}
    <input type="submit" class="button" />
</form>
<fieldset class="toggle">
    <legend>{% trans "Details on formats" %}</legend>
    <div>
        <h5>{% trans "GeoJSON" %}</h5>
        <div>
            {% trans "Properties used: name or title, description, color" %}
        </div>
    </div>
    <hr />
    <div>
        <h5>{% trans "KML" %}</h5>
        <div>
            {% trans "Properties used: name, description" %}
        </div>
    </div>
    <hr />
    <div>
        <h5>{% trans "GPX" %}</h5>
        <div>
            {% trans "Properties used: name, desc" %}
        </div>
    </div>
</fieldset>
