<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}u{Map}{% endblock %}</title>
    <meta charset="utf-8">
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}youmap/youmap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}storage/contrib/css/storage.ui.example.css">

    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body class="{% block body_class %}{% endblock %}">

<div>
    {% block content %}
    {% endblock %}
</div>

    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.reveal.js"></script>
    <!--script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.orbit.js"></script-->
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.navigation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.buttons.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tabs.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.forms.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tooltips.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.accordion.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.alerts.js"></script>
    <script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.example.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    {% block bottom_js %}
    {% endblock %}
    <div id="storage-ui-container"></div>
    <div id="storage-alert-container"></div>
</body>
</html>
