<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}YouMap{% endblock %}</title>
    <meta charset="utf-8">
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}youmap/youmap.css">

    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body class="{% block body_class %}{% endblock %}">

<div>
    {% block content %}
    {% endblock %}
</div>

    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.reveal.js"></script>
    <!--script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.orbit.js"></script-->
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.navigation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.buttons.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tabs.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.forms.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tooltips.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.accordion.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.alerts.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    {% block bottom_js %}
    <script type="text/javascript">
        $(document).foundationAlerts();
        L.Chickpea.on('modal_ready', function (e) {
            var $div = $('#reveal-container');
            // reset class
            $div.attr("class", "");
            $div.addClass("reveal-modal");
            if (e.cssClass) {
                $div.addClass(e.cssClass);
            }
            // in case a modal is already opened with same id, unbind
            $div.unbind('.reveal');
            return $div.empty().html(e.data.html).append('<a class="close-reveal-modal">&#215;</a>').reveal();
        });
        L.Chickpea.on('modal_close', function (e) {
            var $div = $('#reveal-container')
            if ($div) {
                $div.trigger('reveal:close');
            }
        });
        L.Chickpea.on('alert', function (e) {
            var level_class = e.level && e.level == "info"? "success": "alert";
            $div = $('<div>').addClass('alert-box global').addClass(level_class).html(e.content);
            $div.append('<a href="#" class="close">&times;</a>');
            $("body").prepend($div);
        });
        $('a.reveal').click(function(e) {
          e.preventDefault();
          var $this = $(this);
          L.Util.Xhr.get($this.attr('href'));
        });
    </script>
    {% endblock %}
    <div id="reveal-container"></div>
</body>
</html>
