{% load i18n %}

{% if True %} {# TODO: replace by check, whether local login is enabled #}
<h5>{% trans "Please log in with your account" %}</h5>

<div>
    <form id='login_form' action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="{% trans 'Username' %}" autofocus />
        <input type="password" name="password" placeholder="{% trans 'Password' %}" />
        <input type="submit" value="{% trans 'Login' %}" />
    </form>
</div>
{% endif %}

<h5>{% trans "Please choose a provider" %}</h5>

<div>
    <ul class="login-grid block-grid">
        {% for name in backends.backends %}
            <li>
                <a rel="nofollow" href="{% url "social:begin" name %}" class="storage-login-popup login-{{ name }}" title="{{ name|title }}"></a>
            </li>
        {% endfor %}
    </ul>
</div>
